/* src/components/Auth.css */

.error-message {
  color: #e53e3e;
  background: #fff5f5;
  padding: 1rem;
  border-radius: 8px;
margin-left: 10%;
  border: 1px solid #fed7d7;
  width: 80%;

}

.auth-switch {
  text-align: center;
  margin-top: 1.5rem;
  color: #4a5568;
}

.auth-switch a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.auth-switch a:hover {
  text-decoration: underline;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(32, 32, 32);
  }
  
 
 